body{
    background-image: url(back.avif);
    background-size: cover;
}
#dispDiv{
    background-image: linear-gradient(50deg,#d49068,#ffed4a);
    text-align: center;
}
#displayButton{
    border-radius: 30px;
    outline: none;
    background-color: rgba(218, 189, 24, 0.767);
}
input{
    border-radius: 30px;
    outline: none;
    background-color: rgba(218, 189, 24, 0.767);
}
select{
    border-radius: 30px;
    outline: none;
    background-color: rgba(218, 189, 24, 0.767);
}
@media  (max-width:475px){
    body{
        width: 100%;
        height: 100vh;
    }
}
@media  (min-width:475px){
    body{
        width: 100%;
        height: 100vh;
    }
}